<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: #f9302c;
        }

        #tblPeople, td, th {
            width: 70%;
            border: 1px solid green;
        }

        #tblPeople th {
            cursor: default;
        }
    </style>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="myController">
            <p>First Name: <input type="text" ng-change="getName()" ng-model="fName" /></p>
            <p>Last Name: <input type="text" ng-change="getName()" ng-model="lName" /></p>
            <p>Full Name: <h1>{{Name.first +' '+Name.second}}</h1></p>
            <br />
            First number: <input type="text" ng-model="num1" /><br />
            Second number: <input type="text" ng-model="num2" /><br />
            Sum: <h4 ng-bind="+num1++num2"></h4>
            <hr />
            <div>
                <h3>From W3Schools</h3>
                Color name: <input type="text" ng-model="theColor" style="background-color:{{theColor}}" />
                <div>
                   Filter names: <input type="text" ng-model="fltrTbl"/>
                    <table id="tblPeople">
                        <tr>
                            <th align="left" ng-click="orderItBy('name')">Name</th>
                            <th align="left" ng-click="orderItBy('age')">Age</th>
                        </tr>
                        <tr ng-repeat="person in people | orderBy:ord | filter:fltrTbl">
                            <td>{{person.name}}</td>
                            <td>{{person.age}}</td>
                        </tr>
                    </table>
                </div>
                <form ng-app="" name="myForm">
                    Email:<input type="email" name="myEmail" ng-model="tryIt" />
                    <span ng-show="myForm.myEmail.$error.email">Not valid email</span>
                    <br />
                    This is required: <input type="text" required ng-model="u" />
                </form>
                With Angular directive: <me-in-red></me-in-red>
            </div>
            <!--difference between $scope and $rootScope in $scope controller-->
            global:<strong>{{global | uppercase }}</strong><br />
            local: <strong>{{local}}</strong>
            <h3>FILTERS</h3>
            Upper case this: <input type="text" ng-model="n" />
            <h1>{{n | uppercase}}</h1>
            filter names containing letters: <input type="text" ng-model="fltr" />
            <ul>
                <li ng-repeat="name in names | filter:fltr" ng-bind="name | uppercase">
                </li>
            </ul>
           PN: <input type="text" ng-model="name" ng-bind="n"/>
           Proper Name: <h3 ng-bind="name | properName"></h3>
            <h1 align="center">Services</h1>
            Current URL: <h3>{{myUrl}}</h3>
            http service: <h3>{{httpDone}}</h3>
            Timeout: <h1>{{sayHello}}</h1>
            $interval: <h2>{{time}}</h2>
            convert this to hexdecimal: <input ng-model="num"/>
            my Svc: <h3 ng-bind="hex((num | toNum))"></h3>
        </div>
        <hr/>
        <p>----In anotherCtrl controller----</p>
        
        
        <div ng-controller="anotherCtrl">
            <!--difference between $scope and $rootScope in $rootScope controller-->
            global:<strong>{{global}}</strong><br />
            local:<strong>{{local}}</strong>
        </div>
    </div>
    <script src="ngController.js"></script>
</body>
</html>