<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: #f9302c;
        }

        #tblPeople, td, th {
            width: 70%;
            border: 1px solid green;
        }

            #tblPeople th {
                cursor: default;
            }
    </style>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="myController">
            <div ng-mouseover="getCords($event)">
                <label style="border:1px solid red; position:fixed; background-color:#cdf1f1;right:20px;">coords: {{x+', '+y}}</label>
                <p>First Name: <input type="text" ng-change="getName()" ng-model="fName" /></p>
                <p>Last Name: <input type="text" ng-change="getName()" ng-model="lName" /></p>
                <p>Full Name: <h1>{{Name.first +' '+Name.second}}</h1></p>
                <br />
                First number: <input type="text" ng-model="num1" /><br />
                Second number: <input type="text" ng-model="num2" /><br />
                Sum: <h4 ng-bind="+num1++num2"></h4>
                <hr />
                <div>
                    <h3>From W3Schools</h3>
                    Color name: <input type="text" ng-model="theColor" style="background-color:{{theColor}}" />
                    <div>
                        Filter names: <input type="text" ng-model="fltrTbl" />
                        <table id="tblPeople">
                            <tr>
                                <th align="left" ng-click="orderItBy('name')">Name</th>
                                <th align="left" ng-click="orderItBy('age')">Age</th>
                            </tr>
                            <tr ng-repeat="person in people | orderBy:ord | filter:fltrTbl">
                                <td>{{person.name}}</td>
                                <td>{{person.age}}</td>
                            </tr>
                        </table>
                    </div>
                    <form ng-app="" name="myForm">
                        Email:<input type="email" name="myEmail" ng-model="tryIt" />
                        <span ng-show="myForm.myEmail.$error.email">Not valid email</span>
                        <br />
                        This is required: <input type="text" required ng-model="u" />
                    </form>
                    With Angular directive: <me-in-red></me-in-red>
                </div>
                <!--difference between $scope and $rootScope in $scope controller-->
                global:<strong>{{global | uppercase }}</strong><br />
                local: <strong>{{local}}</strong>
                <h3>FILTERS</h3>
                Upper case this: <input type="text" ng-model="n" />
                <h1>{{n | uppercase}}</h1>
                filter names containing letters: <input type="text" ng-model="fltr" />
                <ul>
                    <li ng-repeat="name in names | filter:fltr" ng-bind="name | uppercase">
                    </li>
                </ul>
                PN: <input type="text" ng-model="name" ng-bind="n" />
                Proper Name: <h3 ng-bind="name | properName"></h3>
                <h1 align="center">Services</h1>
                Current URL: <h3>{{myUrl}}</h3>
                http service: <h3>{{httpDone}}</h3>
                Timeout: <h1>{{sayHello}}</h1>
                $interval: <h2>{{time}}</h2>
                convert this to hexdecimal(using sevice and filters): <input ng-model="num" />
                my Svc: <h3 ng-bind="+num| toHexa"></h3>

                convert this to hexdecimal(using sevice only): <input ng-model="numS" />
                my Svc: <h3 ng-bind="hex(+numS)"></h3>
                <h2 align="center">Select List</h2>
                <!--strings-->
                ng-options with array of strings: <select ng-model="sth" ng-options="n for n in names"></select><br />
                ng-repeat with array of strings: <select>
                    <option ng-repeat="n in names" ng-bind="n"></option>
                </select><br />
                <!--Objects-->
                ng-repeat with array of objects:
                <select>
                    <option ng-repeat="n in people">{{n.name}}</option>
                </select><br />
                ng-options with array of objects:
                <select ng-model="selected" ng-options="p.age for p in people"></select>
                You've selected: <span>{{selected.name}}</span><br />
                ng-options with object: select color code: <select ng-model="selectedItem" ng-options="d for (c,d) in colors"></select>
                <span>{{selectedItem}}</span>
                <h2 align="center">Angular DOM & Events</h2>
                <input type="checkbox" ng-model="some" />
                <button ng-disabled="some">Check to disable</button><br />
                <input type="checkbox" ng-model="hide" />
                <span ng-hide="hide">Check to hide</span><br />
                <input type="text" ng-model="n1" /> *
                <input type="text" ng-model="n2" />
                <button ng-click="result=n1* n2">result</button>
                Result: <span>{{result}}</span>
                <h2 align="center">Angular Forms</h2>
                Select Color:
                <form>
                    <input type="radio" id="red" ng-model="color" value="red" /><label for="red">Red</label>
                    <input type="radio" id="blue" ng-model="color" value="blue" /><label for="blue">Blue</label>
                    <input type="radio" id="green" ng-model="color" value="green" /><label for="green">Green</label>
                </form>
                <!--<div ng-switch="color">
                    <div ng-switch-when="color">-->
                        <h3 style="background-color:{{color}};">You've selected {{color}}</h3>
                    </div>
                    <!--<div ng-switch-when="blue">
                        <h3 style="background-color:blue;">You've selected blue</h3>
                    </div>
                    <div ng-switch-when="green">
                        <h3 style="background-color:green;">You've selected green</h3>
                    </div>
                </div>-->
            </div>
        </div>
        <hr />
        <p>----In anotherCtrl controller----</p>


        <div ng-controller="anotherCtrl">
            <!--difference between $scope and $rootScope in $rootScope controller-->
            global:<strong>{{global}}</strong><br />
            local:<strong>{{local}}</strong>
        </div>
    </div>

    <script src="ngController.js"></script>
</body>
</html>