<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <input type="text" id="num1" />
    <input type="text" id="num2" />
    <button id="sum">Add two numbers</button><br />
    <div ng-app>
        <input ng-model="a" type="number">
        <input ng-model="b" type="number">
        <h1>{{ a + b }}</h1>
    </div>

    <h3>{{2+8}}</h3>
    <script>
        var sum = function (x, y) {
            var z = +x + +y;
            alert(z);
        }
        $('#sum').click(() => sum($('#num1').val(), $('#num2').val()));
    </script>
</body>
</html>
